* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 318px;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  background-color: #ececec;
}

/* DRY CODE */
.decoration-none {
  text-decoration: none;
}

/* Nav Section */
.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ececec;
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav__first-logo {
  display: flex;
}

.nav__first-logo img {
  width: 8rem;
}

.nav__second-list {
  width: 45rem;
  display: flex;
  align-items: center;
}

.nav__second-list ul {
  display: flex;
  margin: auto;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}

.nav__second-list ul a {
  flex: 1;
  color: #942f33;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
}

.nav__second-list ul a:hover {
  color: black;
  text-decoration: none;
}

.nav__third-logos {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__third-logos a i {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.nav__third-logos a i:hover {
  transform: rotateY(360deg);
  transition: 2s;
}

@media screen and (max-width: 718px) {
  .nav__first-logo {
    order: 2;
    flex: 1;
    width: auto;
  }

  .nav__first-logo img {
    margin: 0 auto;
    align-self: center;
  }

  .nav__menu-button {
    display: block;
    width: 20%;
  }

  .dropdown-item {
    background-color: cadetblue;
    text-transform: uppercase;
  }

  .nav__menu-button button {
    width: 75%;
    height: 100%;
    margin-left: 15%;
    text-transform: uppercase;
  }

  .nav__second-list {
    display: none;
  }

  .nav__third-logos {
    order: 3;
    width: 35%;
  }

}

@media screen and (min-width: 718px) {
  .nav__menu-button {
    display: none;
  }
}

/* Header Section */
main {
  width: 100%;
  margin: 3rem auto 0;
  background-color: #ececec;
}

.header {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  background-image: url(img/Header-image-bigger.png);
  background-size: cover;
  background-position: center;
  background-position-y: -100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
}

.header__text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.header__text h1 {
  margin-top: 5rem;
  font-family: 'Raleway', sans-serif;;
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 7px rgba(150, 150, 150, 1);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
}

.header__text h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 2rem auto;
  border-radius: 1rem;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.75);
}

.header__input {
  display: flex;
  align-items: center;
  position: relative;
}

.header__input input {
  position: relative;
  width: 15rem;
  height: 2.3rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
  padding-left: 2.2rem;
  border: 1px solid #383838;
}

.fa-search {
  color: gray;
  position: absolute;
  left: 0.5rem;
  font-size: 1.3rem;
}

.header__input input:focus {
  width: 25rem;
  transition: ease-in 2s;
  box-shadow: inset 0px 0px 0.3rem 0rem rgba(0,0,0,0.75);
}

.header__input input:focus ~ .header img {
  filter: none;
}

@media screen and (max-width: 1006px) {
  .header__text h1 {
    font-size: 3.5rem;
  }

  .header__text h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 868px) {
  .header__text h1 {
    font-size: 3rem;
  }

  .header__text h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px){
  .header__text h1 {
    font-size: 2.5rem;
  }

  .header__text h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 366px){
  .header__text h1 {
    margin-top: 2rem;
  }
}

/* Hot sales Containers Section */
.div__sales-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ececec;
}

.sales__container-cont {
  flex: 1;
  padding-top: 2.5rem;
}

.sales__container-title {
  align-items: center;
  display: flex;
}

.sales__container-title h1 {
  margin-left: 1.5rem;
  color: #ececec;
  background-color: red;
  width: auto;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  position: relative;
  top: 0.5rem;
}

.sales__container-title h1:hover {
  box-shadow: 0px -2px 5px 3px rgba(0,0,0,0.75);
  cursor: pointer;
}

.sales__container-article {
  margin: 0 1.5rem;
  min-height: 16rem;
  display: flex;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  border: 1px solid red;
  background-color: white;
}

.sales__container-image {
  width: auto;
  cursor: pointer;
}

.sales__container-image img {
  width: 13rem;
  margin: 1.3rem 1.3rem;
  border-radius: 1rem;
}

.sales__container-info {
  padding-right: 1rem;
}

.sales__container-info h1 a {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.sales__container-info h1 {
  line-height: 0.5rem;
}

.sales__container-info h1 a:hover {
  color: red;
}

.sales__container-info h2 {
  font-size: 1.1rem;
  color: #942f33;
}

.sales__container-price {
  margin-top: 0 auto;
  width: 85%;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  font-weight: bold;
  display: flex;
  text-align: center;
  font-family: 'Exo', sans-serif;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem;
}

.sales__container-price i {
  margin: 0;
  background-color: #942f33;
  color: white;
  padding: 1rem 1rem 1rem 0.8rem;
  border-radius: 50%;
  font-size: 1.4rem;
}

.strike {
  text-decoration: line-through;
  margin-right: 0.5rem;
}

@media screen and (max-width: 973px) {
  .sales__container-article {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-height: 33rem;
  }

  .sales__container-price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sales__container-price i {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .sales__container-article {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-height: 30rem;
  }
}

@media screen and (max-width: 542px) {
  .div__sales-container {
    flex-direction: column;
  }
}

/* ------------------------quote__container ---------------------------------------------*/
.quote__container {
  text-align: center;
  width: 60%;
  margin: 8rem auto;
  background-color: #ececec;
}

.quote__container h1 {
  color: black;
  font-family: 'Courier Prime', monospace;
  font-size: 2.3rem;
}

.quote__container h2 {
  color: #942f33;
}

/*----------------------------------------- Collections Section --------------------------------------*/

.collections__title {
  width: 95%;
  border-bottom: 1px solid red;
  text-align: center;
  margin: 3rem auto;
  display: flex;
}

.collections__title h1 {
  margin: 2rem auto 0;
  color: white;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: red;
  width: auto;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.collections__container {
  margin: 4rem 0 1rem 0;
  width: 100%;
}

.collections__container-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.title__collections {
  width: auto;
}

.title__collections h1 {
  color: white;
  background-color: #942f33;
  padding: 0.2rem 0.5rem 0 0.5rem;
  position: relative;
  top: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0px -0.4px 1rem 0rem rgba(0,0,0,0.75);
}

.quote {
  font-family: 'Courier Prime', monospace;
  font-size: 1.3rem;
  align-self: center;
  margin: auto auto auto 1.5rem;
}

.collections__container-articles {
  width: 100%;
  display: flex;
  align-items: center;
}

.collections__container-item {
  flex: 1;
  display: flex;
  padding: 1.5rem;
  min-height: 16rem;
  background-color: white;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px dashed #942f33;
}

.collections__container-item1 {
  flex: 1;
  display: flex;
  padding: 1.5rem;
  min-height: 16rem;
  background-color: white;
  margin: 1rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  border: 1px dashed #942f33;
}

.collections__item-image img {
  width: 13rem;
  margin-right: 0.7rem;
  border-radius: 1rem;
}

.collections__item-info {
  display: flex;
  flex-direction: column;
}

.collections__item-image2 img {
  width: 10rem;
  margin-right: 0.7rem;
  border-radius: 1rem;
}

.collection__price {
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: blue;
  cursor: pointer;
}

.collections__icon-width {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.collections__icon-width span {
  font-size: 1.8rem;
  text-decoration-color: red;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  background-color: #ececec;
}

.collections__icon {
  padding: 1.1rem 1rem 1rem 0.8rem;
  border-radius: 50%;
  font-size: 1.4rem;
  background-color: #942f33;
  color: white;
}

@media screen and (max-width: 768px) {
  .collections__container-articles {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .collections__container-item {
    flex-direction: column;
    align-items: center;
    min-height: 27rem;
    width: 100%;
  }

  .collections__container-item1 {
    flex-direction: column;
    align-items: center;
    min-height: 27rem;
    width: 100%;
  }

  .sales__container-info {
    text-align: center;
  }
}

/*------------------------------------------ Grid Items Section --------------------------------------*/
.items__grid {
  width: 95%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.6rem;
}

.items__grid-conatiners {
  height: 20rem;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #942f33;
  outline: 1px solid red;
}

.items__grid-conatiners:hover {
  filter: sepia(100%);
  border: 2px solid red;
  box-shadow: inset 2px 2px 7px rgba(150, 150, 150, 1);
}

.items__grid-conatiners h1 {
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 7px rgba(150, 150, 150, 1);
}

.grid__image {
  background-image: url(img/Vehicles.jpg);
}

.grid__image2 {
  background-image: url(img/weapons.jpg);
}

.grid__image3 {
  background-image: url(img/wardrobe.png);
}

.grid__image4 {
  background-image: url(img/props.jpg);
}

.grid__image5 {
  background-image: url(img/accessories.jpg);
}

.grid__image6 {
  background-image: url(img/furniture.jpg);
}

.grid__image7 {
  background-image: url(img/signed.jpg);
}

.grid__image8 {
  background-image: url(img/special.jpg);
}

@media screen and (max-width: 580px) {
  .items__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/*----------------------------------------------- Footer Section ----------------------------------------*/
footer {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.footer__first {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
}

.footer__company-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer__company-logo {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer__company-logo img {
  margin: 0 auto;
  width: 13rem;
}

.footer__categories {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer__categories-title {
  border-bottom: 1px solid red;
  padding: 0.6rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}

.footer__categories-info {
  display: flex;
}

.footer__categories-first,
.footer__categories-second {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__categories-first a,
.footer__categories-second a {
  text-decoration: none;
  font-size: 1rem;
  color: #383838;
  text-transform: uppercase;
  padding: 0.5rem;
}

.footer__second {
  padding: 2rem 0;
  text-align: center;
}